<div>
    <input type="text" class="form-control" name="Filtro" placeholder="Filtro" (keyup)="setFilterBy($event)" />
    <button type="button" class="btn btn-outline-success
    
    " (click)="sort()">Ordenar</button>
    <button type="button" class="btn btn-primary" (click)="new()">Adicionar Contato</button>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">E-mail</th>
             </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | async | filter: filterBy | sort: {property: column, order: order};">
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.email }}</td> 
                <button type="button" class="btn btn-outline-primary" (click)="edit(user, user.key)">Editar</button>
                <button type="button" class="btn btn-outline-danger" (click)="delete(user.key)">Excluir</button>
            </tr>
        </tbody>
    </table>
</div> 
